@-ms-viewport{ width: device-width; }
/*mobile ------------------------- */
@media (max-width: 668px) {
 :root {
  font-size: large;
 }
 h2 {
  font-size: 1.2em;
 }
 button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: .7em;
 }
 input {
  max-width: 15vw;
}
}

/*med-large screens ---------------*/
@media (min-width: 669px) {
 :root {
  font-size: 1.5em;
 }
 h1 {
  font-size: 1.7em;
 }
 h1 {
  font-size: 2.7em;
 }
 h2 {
  font-size: 2em;
 }
 button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
 }
 input {
  width: 30vw;
}
}

/*Shared Styles ------------------*/
:root {
  display: flex;

  font-family: "Patrick Hand", cursive;;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #ffffff;
}
a:hover {
  color: #000000;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;

}

h1 {
  line-height: 1.1;
  padding-left: 4vw ;
}

h2 {
  padding-left: 4vw ;
}

ul, li {
  align-self: flex-start;
  margin-left: 5vw;
  list-style-type: circle;
}

button {
  align-self:flex-end;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: cursive;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  align-self: flex-end;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2c2c2c;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #f8f5ff;
  }
}
